input, textarea{
width: 180px;
margin-bottom: 5px;
}
body{
	background-color: red;
}
.cls label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
  }
.cls input {
	  display: inline-block;
	  float: left;
	}
.form label{
    display: inline-block;
    /* float: left; */
   /* clear: left; */
    width: 250px;
    text-align: right;
  }
.form input {
	  display: inline-block;
	  /* float: left;*/
	}
