div.debug {
	background-color: lightgray;
	border: 5px solid darkgray;
	margin-left: 95px;
	display: inline-block;
	margin-top: 30px;
}

input, textarea{
width: 180px;
margin-top: 5px;
}
textarea{
	vertical-align: top;
}
body{
	background-color: #d0e4fe;
}
.container{
	width: 50px;
	margin: 0 auto;
}
/*.form label{
    display: inline-block; 
    
    width: 110px;
    text-align: left;  
  }
.form input {
	  display: inline-block;
}
.form {
  background-color : #ffc;
  border : 1px solid #000;
  padding : 5px;
}*/

/*.cls label{
    display: inline-block;
    width: 140px;
    text-align: left;
  }
.cls input {
	  display: inline-block;
	   float: left; 
	}*/
.comm h4{
	display: inline-block;
	line-height: 1;
}
.comm span{
	
	display: block;
	/*float: right;
	 text-align: left; */
}
.content h3{
	display: inline-block;
	line-height: 1;
	font: italic bold 20px/30px Georgia, serif;
	color: 660000;
}
.content span{
	line-height: 10px;
	display: block;
}
.image h3{
	display: inline-block;
	line-height: 1;
	font: italic bold 20px/30px Georgia, serif;
	color: 660000;
}
.reteta p{
	color: red;
}
.reteta h3{
	font: italic bold 20px/35px Georgia, serif;
	color: CC9999;
}
h1{
	color: FF9999;
	font: italic bold 30px/50px Georgia, serif;
}

.image h3{
	font: italic bold 20px/30px Georgia, serif;
}
.user span {
    text-transform: capitalize;
    font: italic bold 17px/30px Georgia, serif;
}
.numeUser{
	text-transform: capitalize;
	font: italic bold 30px/40px Georgia, serif;
}
.jumbotron {
  padding: 30px;

  margin-top: 30px;
  color: inherit;
  background-color: #eeeeee;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.jumbotron .container {
  max-width: 100%;
}
.jumbotron h1,
  .jumbotron .h1 {
    font-size: 43px;
  }
  .comment{
  	  display: inline-block; 
     
	  text-align: left; 
  }
  .comment label{
  	display: block;
  }
  .comment h3{
  	font: italic bold 20px/30px Georgia, serif;
  	color: 660000;
  }
  .titlu{
  	text-align: center;
  	font: italic bold 36px/50px Georgia, serif;
  	color: 660000;
  }
 .titluReteta{
 	font: italic bold 36px/50px Georgia, serif;
  	color: 660000;
 }
 .titlu3{
 	font: italic bold 36px/50px Georgia, serif;
  	color: 660000;
  	display: inline-block;
}
.culinar {
border-style: solid;
border-width: 104px 75px 173px 121px;
-moz-border-image: url(/wae01/static/images/poza2.png) 104 75 173 121 round repeat;
-webkit-border-image: url(/wae01/static/images/poza2.png) 104 75 173 121 round repeat;
-o-border-image: url(/wae01/static/images/poza2.png) 104 75 173 121 round repeat;
border-image: url(/wae01/static/images/poza2.png) 104 75 173 121 fill round repeat;
}
.culinar .rete{
	padding-left: 100px; 
}
.culinar .titlu3{
	padding-left: 60px;
}
.clasa{
border-style: solid;
border-width: 104px 75px 173px 121px;
-moz-border-image: url(/wae01/static/images/poza2.png) 104 75 173 121 round repeat;
-webkit-border-image: url(/wae01/static/images/poza2.png) 104 75 173 121 round repeat;
-o-border-image: url(/wae01/static/images/poza2.png) 104 75 173 121 round repeat;
border-image: url(/wae01/static/images/poza2.png) 104 75 173 121 fill round repeat;
}
.clasa .wrapper .content{
	padding-left: 100px; 
}
.clasa .rate{
	padding-left: 100px;
}
.clasa .comment{
	padding-left: 100px;
}
.clasa .image{
	padding-left: 100px;
}
.symbols{
	padding-left: 100px;
}
/*.rete span{
	width:600px;
	height:930px;
	box-shadow:0 0 15px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
	float:left;
	padding:10px 50px 0;
	background-image:url(/wae01/static/images/papirus.jpg);
	margin:2% 30%;
	border-radius:5px
}
hr{
	border-top:1px solid #ccc;
	margin-bottom:30px
} */

/*
.lgout{
	background-color: #282F8A;
	color: #fff;
	border-radius: 7px;
	box-shadow: 0 5px #202670;
	padding: 25px 60px 25px 90px;
}
.lgout:before{
	position: absolute;
left: 0;
width: 40%;
font-size: 160%;
line-height: 0.8;
color: #fff;
content: "\e163";
font-family: 'Glyphicons Halflings';
}

.exit-btn-3 {
background-color: #282F8A;
color: #fff;
border-radius: 7px;
box-shadow: 0 5px #202670;
padding: 25px 60px 25px 90px;
}

.exit-btn-3:before {
position: absolute;
left: 0;
width: 40%;
font-size: 160%;
line-height: 0.8;
color: #fff;
content: "\e163";
font-family: 'Glyphicons Halflings';
}*/