@import "http://fonts.googleapis.com/css?family=Ubuntu";
body{
	margin:0;
	padding:0;
	font-family:'Ubuntu',sans-serif
}
#first{
	width:600px;
	height:930px;
	box-shadow:0 0 15px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
	float:left;
	padding:10px 50px 0;
	background-image:url(/wae01/static/images/1.jpg);
	margin:2% 30%;
	border-radius:5px
	color: white;
}

#first h4{
	color: white;
}
hr{
	border-top:1px solid #ccc;
	margin-bottom:30px
}
span{
	margin-top:8px;
	font-size:17px;

	width: 220px;
	text-align: left;
}
.one{
	margin-left:9px;
	margin-top:10px
	text-align: left;
	color: white;
}
.one span{
		display:block;
}
.two{
	margin-left:9px;
	margin-top:10px
	text-align: left;
	color: white;
}
.two span{
		display:block;
}
.three{
	color: white;
	margin-left:9px;
	margin-top:10px
	text-align: left;
}
.three span{
		display:block;
}
.four{
	margin-left:9px;
	margin-top:10px
	text-align: left;
	color: white;
}
.four span{
		display:block;
}
.five{
	margin-left:9px;
	margin-top:10px;
	color: white;
	text-align: left;
}
.five span{
		display:block;
}
.six{

	margin-left:5px;
	margin-top:10px;
	color: white;
	text-align: left;
}
.six input{
	display: inline-block;
}
.six span{
		display:block
}
.seven{

	margin-left:5px;
	margin-top:10px;
	color: white;
	text-align: left;
}
.seven input{
	display: inline-block;
}
.seven span{
		display:block;
}
input,select{
	width:250px;
	padding:10px;
	border-radius:5px;
	border:1px solid #cbcbcb;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
	font-family:Cursive;
	display:block;
	color:black;
}
textarea{
	width:250px;
	padding:7px;
	height:100px;
	border-radius:5px;
	border:1px solid #cbcbcb;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
	display:block;
	color: black;
}
.submit{
	width:100px;
	margin-left:83px;
	padding:10px;
	margin-top:20px;
	background:linear-gradient(#A4A4A4,#424242);
	color:#fff;
	font-weight:700
}
.submit:hover{
	background:linear-gradient(#424242,#A4A4A4)
}

.debug{
	display: inline-block;
}
